@import 'header/style'
@import 'menu-plataforma/style'
@import 'cursos/style'
@import 'curso/style'
@import 'perfil/style'
@import 'comunidad/style'
@import 'friends/style'
// @import 'animation/style'