.ol, .ul
	margin 0
	padding 0 1em 1em
	h3
		color gris_E
		padding-bottom 1em
	h4
		color gris_E
		padding-bottom 1em
	p
		color gris_D
		padding-bottom 1em
	li
		padding-bottom 1em
		p
			color gris_D
			padding-bottom .5em
		h3
			color gris_E
			padding-bottom .5em
		h4
			color gris_E
			padding-bottom .5em	

.Terms
	Container(90px)
	&__box
		Box(1em, white, transparent, 1em, 0)
		&--container
			padding 1em
			h2
				color gris_E
				padding-bottom .5em
			p
				color gris_D
				padding-bottom 1em