<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1"/>
  <title>Plataforma</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <header id="header">
    <!-- <div class="container">
      <div class="HeaderForm">
        <h3 id="name"></h3>
        <img class="img-responsive" id="avatar" src="" alt="">
      </div>
    </div> -->
  </header>
  <section class="container">
    <!-- <form method="post" id="send"> -->
    <div class="row">
      <div class="Form">
        <div id="gender" class="Form__gender">
          <h2>Mi Genero es ...</h2>
          <div class="Form__gender--buttonRadio">
            <div>
              <label>Mujer</label>
              <input class="genero" type="radio" name="genero" value="mujer"/>
            </div>
            <div>
              <label>Hombre</label>
              <input class="genero" type="radio" name="genero" value="hombre"/>
            </div>
          </div>
        </div>
        <div id="category" class="Form__category">
          <h2>Mi Categoria es ...</h2>
          <div class="Form__category--buttonRadio">
            <div>
              <label>Oficial</label>
              <input id="oficial" class="categoria" type="radio" name="categoria" value="oficial"/>
            </div>
            <div>
              <label>Sub Oficial</label>
              <input id="subOficial" class="categoria" type="radio" name="categoria" value="sub-oficial"/>
            </div>
          </div>
        </div>
        <div id="subOfficial" class="Form__subOfficial row">
          <h3>Sub Oficiales</h3>
          <div class="Form__subOfficial--buttonRadio">
            <div class="inputBox">
              <label>Sub Oficial de Tercera</label>
              <input class="grado" type="radio" name="grado" value="Sub Oficial de Tercera"/>
            </div>
            <div class="inputBox">
              <label>Sub Oficial de Segunda</label>
              <input class="grado" type="radio" name="grado" value="Sub Oficial de Segunda"/>
            </div>
            <div class="inputBox">
              <label>Sub Oficial de Primera</label>
              <input class="grado" type="radio" name="grado" value="Sub Oficial de Primera"/>
            </div>
            <div class="inputBox">
              <label>Técnico de Tercera</label>
              <input class="grado" type="radio" name="grado" value="Técnico de Tercera"/>
            </div>
            <div class="inputBox">
              <label>Técnico de Segunda</label>
              <input class="grado" type="radio" name="grado" value="Técnico de Segunda"/>
            </div>
            <div class="inputBox">
              <label>Técnico de Primera</label>
              <input class="grado" type="radio" name="grado" value="Técnico de Primera"/>
            </div>
            <div class="inputBox">
              <label>Brigadier</label>
              <input class="grado" type="radio" name="grado" value="Brigadier"/>
            </div>
            <div class="inputBox">
              <label>Superior</label>
              <input class="grado" type="radio" name="grado" value="Superior"/>
            </div>
          </div>
          <div class="Form__subOfficial--button row">
            <a class="btn btn-default" id="send1" href="">Enviar</a>
          </div>
        </div>
        <div id="official" class="Form__official">
          <h3>Oficiales</h3>
          <div class="Form__official--buttonRadio row">
            <div class="inputBox">
              <label>Alferes</label>
              <input class="grado" type="radio" name="grado" value="Alferes"/>
            </div>
            <div class="inputBox">
              <label>Teniente</label>
              <input class="grado" type="radio" name="grado" value="Teniente"/>
            </div>
            <div class="inputBox">
              <label>Capitán</label>
              <input class="grado" type="radio" name="grado" value="Capitán"/>
            </div>
            <div class="inputBox">
              <label>Mayor</label>
              <input class="grado" type="radio" name="grado" value="Mayor"/>
            </div>
            <div class="inputBox">
              <label>Comandante</label>
              <input class="grado" type="radio" name="grado" value="Comandante"/>
            </div>
            <div class="inputBox">
              <label>Coronel</label>
              <input class="grado" type="radio" name="grado" value="Coronel"/>
            </div>
            <div class="inputBox">
              <label>General</label>
              <input class="grado" type="radio" name="grado" value="General"/>
            </div>
          </div>
          <div class="Form__subOfficial--button row">
            <a class="btn btn-default" id="send2" href="">Enviar</a>
          </div>
        </div>
      </div>
    </div>
      <!-- <input type="submit" value="Enviar" class="btn btn-default"> -->
    <!-- </form> -->
  </section>
  <!-- <a href="/view/crear">Haz Clic</a> -->
  <script src="../js/main.js"></script>
</body>
</html>