<div>
	<div class="LoginModal" id="BackgroundModalLogin">
	</div>
	<div class="Login" id="loginModal">
		<div class="Login__box">
			<div class="Login__box--logo">
				<figure>
					<img src="./images/logoAscent.svg" alt="Ascent">
				</figure>
			</div>
			<div class="Login__box--linkText">
				<p>
					<a href="">Ingresa</a>
					ó
					<a href="">Registrate</a>
				</p>
			</div>
			<div class="Login__box--buttonLogin">
				<div class="button">
				<span class="icon-facebook-1"></span>
					<a href="auth/facebook">Ingresa con Facebook</a>
				</div>
			</div>
			<div class="Login__box--condition">
				<p>
					<a href="#/terminos-condiciones">Terminos y Condiciones</a>
					|
					<a href="#/politicas-privacidad">Politicas de Privacidad</a>
				</p>
			</div>
			<div class="Login__box--close" ng-click="hideLogin()"><span class="icon-ascent-incorrecta"></span></div>
		</div>
	</div>
</div>