<div class="container">
	<div class="row  Avatar">
		<div class="col-xs-12 Avatar__box">
			<figure  class="Avatar__box--avatar">
				<img src="../images/avatar.png">				
			</figure>	
			<p class="Avatar__box--subtitle">¡El primer paso para tu ascenso!</p>			
		</div>
	</div>
	<div class="row Login">
		<div class="col-xs-12 Login__text">
			<p>Ingresar con: </p>
		</div>
		<div class="col-xs-12 Login__button">
			<a href="auth/facebook">FACEBOOK</a>
			<!-- <a href="/login" >FACEBOOK</a> -->
		</div>
	</div>
</div>