<html>
<head>
	<title>Your Website Title</title>
</head>
<body>

<section>
  
</section>
  <div>
    <p> 1) Dale Like a Nuestra Pagina en Facebook div </p> 
    
  </div>

    <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FAscentPeru&width=450&layout=standard&action=like&show_faces=true&share=true&height=80&appId=1721434554779528" width="450" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

  <div>
    <p>2) Invita minimo a 3 amigos a Ascent</p> 
    <p>Lista de Amigos en Facebook</p> 
    <div id="list_friend_facebook"></div>
          
  </div>

<!-- Your share button code -->

<a href='#' id="btn_send"> Facebook Invite Friends Link </a>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdn.rawgit.com/visionmedia/page.js/master/page.js"></script>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script src="/js/facebook_friends.js"></script>

</body>
</html>
