.Payment
	Container(90px)
	&__container
		Box(0, white, transparent, 0, 2em)
		box-shadow 0 1px 1px rgba(0,0,0,0.2)
		padding 10px
		&--title
			padding 1em 0 .5em
			width 100%
			h2
				text-align center
				color gris_E
				font-weight bold
		&--optionService
			display flex
			justify-content space-around
			flex-wrap wrap
			width 95%
			margin 1em auto
			.PaymentAudioLibro
				margin-bottom 10px
				border 2px solid gris_B
				border-radius 10px
				width 90%
				max-width 250px
				&__iconFigure
					padding 10px
					text-align center
					img
						margin 0 auto
						width 100%
						max-width 200px
				&__contentInformation
					&--title
						h3
							padding 10px
							color gris_D
							text-align center
					&--price
						h2
							color gris_E
							font-size 2.5em
							text-align center
					&--Text
						p
							color gris_D
							padding 10px
							text-align center
					&--btn
						border-radius 7px
						background-color #01637f
						width 90%
						max-width 150px
						margin 0 auto 1em
						text-align center
						padding 5px
						border-bottom 3px solid #004558
						a							
							color white
							display block
							font-size 1.4em
							text-decoration none
							cursor pointer
			.PaymentPremium
				margin-bottom 10px
				border 2px solid #4cf59d
				border-radius 10px
				width 90%
				max-width 250px
				&__iconFigure
					padding 10px
					text-align center
					img
						margin 0 auto
						width 100%
						max-width 200px
				&__contentInformation
					&--title
						h3
							padding 10px
							color gris_D
							text-align center
					&--price
						h2
							color gris_E
							font-size 2.5em
							text-align center
					&--Text
						p
							color gris_D
							padding 10px
							text-align center
					&--btn
						border-radius 7px
						background-color #4cf59d
						width 90%
						max-width 150px
						margin 0 auto 1em
						text-align center
						padding 5px
						border-bottom 3px solid #35b974
						a							
							color white
							display block
							font-size 1.4em
							text-decoration none
							cursor pointer