<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, minimum-scale=1, maximum-scale=1")
	title Ascent: Admin Login
body
	header
		h1 Ascent Logo
		p Login Admin Plataform
	div
		p Ingresa con: 
		form(action="/plataforma/admin")
		div
			a(class="btn-social  color-blue", href="auth/facebook") Facebook
		p #{msg}
