.Avatar
  height 60vh
  min-height 300px
  &__box
    height 60vh
    min-height 300px
    display flex
    justify-content center
    align-items center
    flex-direction column
    &--subtitle
      margin-top 5vh

.Login
  height 40vh
  min-height 200px
  display flex
  flex-direction column
  justify-content space-around
  &__text
    p
      margin 0 auto
      width 80%
  &__button
    text-align center
    a
      margin 0 auto
      width 80%
      background-color #337ab7
      display block
      color #fff
      text-decoration none
      padding .3em 0