@font-face
  font-family 'ascent'
  src url('../fonts/ascent.eot?24502330')
  src url('../fonts/ascent.eot?24502330#iefix') format('embedded-opentype'),
      url('../fonts/ascent.woff2?24502330') format('woff2'),
      url('../fonts/ascent.woff?24502330') format('woff'),
      url('../fonts/ascent.ttf?24502330') format('truetype'),
      url('../fonts/ascent.svg?24502330#ascent') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"]:before, [class*=" icon-"]:before
  font-family "ascent"
  font-style normal
  font-weight normal
  speak none
  display inline-block
  text-decoration inherit
  width 1em
  margin-right .2em
  text-align center
  font-variant normal
  text-transform none
  line-height 1em
  margin-left .2em
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-music
  &:before
    content '\e800'

.icon-search
  &:before
    content '\e801'

.icon-mail
  &:before
    content '\e802'

.icon-heart
  &:before
    content '\e803'

.icon-star
  &:before
    content '\e804'

.icon-videocam
  &:before
    content '\e805'

.icon-camera
  &:before
    content '\e806'

.icon-photo
  &:before
    content '\e807'

.icon-attach
  &:before
    content '\e808'

.icon-lock
  &:before
    content '\e809'

.icon-tag
  &:before
    content '\e80a'

.icon-thumbs-up
  &:before
    content '\e80b'

.icon-location
  &:before
    content '\e80c'

.icon-trash
  &:before
    content '\e80d'

.icon-doc
  &:before
    content '\e80e'

.icon-database
  &:before
    content '\e80f'

.icon-graduation-cap
  &:before
    content '\e810'

.icon-paper-plane
  &:before
    content '\e811'

.icon-cloud
  &:before
    content '\e812'

.icon-mobile
  &:before
    content '\e813'

.icon-desktop
  &:before
    content '\e814'

.icon-lightbulb
  &:before
    content '\e815'

.icon-clock
  &:before
    content '\e816'

.icon-note
  &:before
    content '\e817'

.icon-t-shirt
  &:before
    content '\e818'

.icon-emo-happy
  &:before
    content '\e819'

.icon-emo-wink
  &:before
    content '\e81a'

.icon-emo-unhappy
  &:before
    content '\e81b'

.icon-emo-sleep
  &:before
    content '\e81c'

.icon-emo-thumbsup
  &:before
    content '\e81d'

.icon-emo-devil
  &:before
    content '\e81e'

.icon-emo-surprised
  &:before
    content '\e81f'

.icon-emo-tongue
  &:before
    content '\e820'

.icon-emo-coffee
  &:before
    content '\e821'

.icon-emo-sunglasses
  &:before
    content '\e822'

.icon-emo-displeased
  &:before
    content '\e823'

.icon-emo-beer
  &:before
    content '\e824'

.icon-emo-grin
  &:before
    content '\e825'

.icon-emo-angry
  &:before
    content '\e826'

.icon-emo-saint
  &:before
    content '\e827'

.icon-emo-cry
  &:before
    content '\e828'

.icon-emo-shoot
  &:before
    content '\e829'

.icon-emo-squint
  &:before
    content '\e82a'

.icon-emo-laugh
  &:before
    content '\e82b'

.icon-mail-1
  &:before
    content '\e82c'

.icon-picture
  &:before
    content '\e82d'

.icon-camera-1
  &:before
    content '\e82e'

.icon-camera-alt
  &:before
    content '\e82f'

.icon-spin1
  &:before
    content '\e830'

.icon-spin2
  &:before
    content '\e831'

.icon-spin3
  &:before
    content '\e832'

.icon-th-list
  &:before
    content '\e833'

.icon-spin4
  &:before
    content '\e834'

.icon-ok
  &:before
    content '\e835'

.icon-ok-circled
  &:before
    content '\e836'

.icon-ok-circled2
  &:before
    content '\e837'

.icon-cancel
  &:before
    content '\e838'

.icon-spin6
  &:before
    content '\e839'

.icon-cancel-circled
  &:before
    content '\e83a'

.icon-cancel-circled2
  &:before
    content '\e83b'

.icon-plus
  &:before
    content '\e83c'

.icon-plus-circled
  &:before
    content '\e83d'

.icon-minus
  &:before
    content '\e83e'

.icon-minus-circled
  &:before
    content '\e83f'

.icon-help-circled
  &:before
    content '\e840'

.icon-info-circled
  &:before
    content '\e841'

.icon-home
  &:before
    content '\e842'

.icon-link
  &:before
    content '\e843'

.icon-attach-1
  &:before
    content '\e844'

.icon-lock-1
  &:before
    content '\e845'

.icon-lock-open
  &:before
    content '\e846'

.icon-pin
  &:before
    content '\e847'

.icon-tag-1
  &:before
    content '\e848'

.icon-tags
  &:before
    content '\e849'

.icon-bookmark
  &:before
    content '\e84a'

.icon-flag
  &:before
    content '\e84b'

.icon-thumbs-up-1
  &:before
    content '\e84c'

.icon-thumbs-down
  &:before
    content '\e84d'

.icon-download
  &:before
    content '\e84e'

.icon-upload
  &:before
    content '\e84f'

.icon-forward
  &:before
    content '\e850'

.icon-export
  &:before
    content '\e851'

.icon-glass
  &:before
    content '\e852'

.icon-music-1
  &:before
    content '\e853'

.icon-search-1
  &:before
    content '\e854'

.icon-heart-1
  &:before
    content '\e855'

.icon-heart-empty
  &:before
    content '\e856'

.icon-star-1
  &:before
    content '\e857'

.icon-star-empty
  &:before
    content '\e858'

.icon-star-half
  &:before
    content '\e859'

.icon-user
  &:before
    content '\e85a'

.icon-users
  &:before
    content '\e85b'

.icon-video
  &:before
    content '\e85c'

.icon-videocam-1
  &:before
    content '\e85d'

.icon-th-large
  &:before
    content '\e85e'

.icon-th
  &:before
    content '\e85f'

.icon-eye
  &:before
    content '\e860'

.icon-eye-off
  &:before
    content '\e861'

.icon-chat
  &:before
    content '\e862'

.icon-comment
  &:before
    content '\e863'

.icon-pencil
  &:before
    content '\e864'

.icon-edit
  &:before
    content '\e865'

.icon-print
  &:before
    content '\e866'

.icon-retweet
  &:before
    content '\e867'

.icon-bell
  &:before
    content '\e868'

.icon-attention
  &:before
    content '\e869'

.icon-attention-circled
  &:before
    content '\e86a'

.icon-location-1
  &:before
    content '\e86b'

.icon-trash-empty
  &:before
    content '\e86c'

.icon-doc-1
  &:before
    content '\e86d'

.icon-calendar
  &:before
    content '\e86e'

.icon-basket
  &:before
    content '\e86f'

.icon-wrench
  &:before
    content '\e870'

.icon-cog-alt
  &:before
    content '\e871'

.icon-cog
  &:before
    content '\e872'

.icon-phone
  &:before
    content '\e873'

.icon-folder-open
  &:before
    content '\e874'

.icon-folder
  &:before
    content '\e875'

.icon-login
  &:before
    content '\e876'

.icon-logout
  &:before
    content '\e877'

.icon-volume-off
  &:before
    content '\e878'

.icon-volume-down
  &:before
    content '\e879'

.icon-volume-up
  &:before
    content '\e87a'

.icon-headphones
  &:before
    content '\e87b'

.icon-clock-1
  &:before
    content '\e87c'

.icon-block
  &:before
    content '\e87d'

.icon-resize-full
  &:before
    content '\e87e'

.icon-resize-vertical
  &:before
    content '\e87f'

.icon-resize-small
  &:before
    content '\e880'

.icon-resize-horizontal
  &:before
    content '\e881'

.icon-zoom-in
  &:before
    content '\e882'

.icon-zoom-out
  &:before
    content '\e883'

.icon-up-open
  &:before
    content '\e884'

.icon-right-open
  &:before
    content '\e885'

.icon-left-open
  &:before
    content '\e886'

.icon-down-open
  &:before
    content '\e887'

.icon-right-dir
  &:before
    content '\e888'

.icon-left-dir
  &:before
    content '\e889'

.icon-up-dir
  &:before
    content '\e88a'

.icon-down-dir
  &:before
    content '\e88b'

.icon-up-circled2
  &:before
    content '\e88c'

.icon-down-circled2
  &:before
    content '\e88d'

.icon-emo-wink2
  &:before
    content '\e88e'

.icon-spin5
  &:before
    content '\e88f'

.icon-ascent-aleatorio
  &:before
    content '\e890'

.icon-down-hand
  &:before
    content '\e891'

.icon-up-hand
  &:before
    content '\e892'

.icon-left-hand
  &:before
    content '\e893'

.icon-right-hand
  &:before
    content '\e894'

.icon-up-big
  &:before
    content '\e895'

.icon-right-big
  &:before
    content '\e896'

.icon-left-big
  &:before
    content '\e897'

.icon-down-big
  &:before
    content '\e898'

.icon-cw
  &:before
    content '\e899'

.icon-ccw
  &:before
    content '\e89a'

.icon-arrows-cw
  &:before
    content '\e89b'

.icon-shuffle
  &:before
    content '\e89c'

.icon-play
  &:before
    content '\e89d'

.icon-play-circled2
  &:before
    content '\e89e'

.icon-stop
  &:before
    content '\e89f'

.icon-pause
  &:before
    content '\e8a0'

.icon-to-end
  &:before
    content '\e8a1'

.icon-to-end-alt
  &:before
    content '\e8a2'

.icon-to-start
  &:before
    content '\e8a3'

.icon-agregar-amigos
  &:before
    content '\e8a4'

.icon-to-start-alt
  &:before
    content '\e8a5'

.icon-fast-fw
  &:before
    content '\e8a6'

.icon-fast-bw
  &:before
    content '\e8a7'

.icon-eject
  &:before
    content '\e8a8'

.icon-signal
  &:before
    content '\e8a9'

.icon-award
  &:before
    content '\e8aa'

.icon-inbox
  &:before
    content '\e8ab'

.icon-globe
  &:before
    content '\e8ac'

.icon-cloud-1
  &:before
    content '\e8ad'

.icon-flash
  &:before
    content '\e8ae'

.icon-umbrella
  &:before
    content '\e8af'

.icon-flight
  &:before
    content '\e8b0'

.icon-indent-right
  &:before
    content '\e8b1'

.icon-indent-left
  &:before
    content '\e8b2'

.icon-list
  &:before
    content '\e8b3'

.icon-align-justify
  &:before
    content '\e8b4'

.icon-align-right
  &:before
    content '\e8b5'

.icon-align-center
  &:before
    content '\e8b6'

.icon-align-left
  &:before
    content '\e8b7'

.icon-text-width
  &:before
    content '\e8b8'

.icon-text-height
  &:before
    content '\e8b9'

.icon-italic
  &:before
    content '\e8ba'

.icon-bold
  &:before
    content '\e8bb'

.icon-font
  &:before
    content '\e8bc'

.icon-leaf
  &:before
    content '\e8bd'

.icon-scissors
  &:before
    content '\e8be'

.icon-briefcase
  &:before
    content '\e8bf'

.icon-off
  &:before
    content '\e8c0'

.icon-road
  &:before
    content '\e8c1'

.icon-list-alt
  &:before
    content '\e8c2'

.icon-qrcode
  &:before
    content '\e8c3'

.icon-barcode
  &:before
    content '\e8c4'

.icon-chart-bar
  &:before
    content '\e8c5'

.icon-magnet
  &:before
    content '\e8c6'

.icon-fire
  &:before
    content '\e8c7'

.icon-gift
  &:before
    content '\e8c8'

.icon-asterisk
  &:before
    content '\e8c9'

.icon-check
  &:before
    content '\e8ca'

.icon-tint
  &:before
    content '\e8cb'

.icon-ajust
  &:before
    content '\e8cc'

.icon-book
  &:before
    content '\e8cd'

.icon-credit-card
  &:before
    content '\e8ce'

.icon-floppy
  &:before
    content '\e8cf'

.icon-megaphone
  &:before
    content '\e8d0'

.icon-key
  &:before
    content '\e8d1'

.icon-truck
  &:before
    content '\e8d2'

.icon-hammer
  &:before
    content '\e8d3'

.icon-lemon
  &:before
    content '\e8d4'

.icon-dot
  &:before
    content '\e8d5'

.icon-dot-2
  &:before
    content '\e8d6'

.icon-dot-3
  &:before
    content '\e8d7'

.icon-network
  &:before
    content '\e8d8'

.icon-monitor
  &:before
    content '\e8d9'

.icon-mobile-2
  &:before
    content '\e8da'

.icon-battery
  &:before
    content '\e8db'

.icon-windy-rain-inv
  &:before
    content '\e8dc'

.icon-snow-inv
  &:before
    content '\e8dd'

.icon-snow-heavy-inv
  &:before
    content '\e8de'

.icon-clouds-inv
  &:before
    content '\e8df'

.icon-clouds-flash-inv
  &:before
    content '\e8e0'

.icon-temperature
  &:before
    content '\e8e1'

.icon-hail-inv
  &:before
    content '\e8e2'

.icon-compass-1
  &:before
    content '\e8e3'

.icon-na
  &:before
    content '\e8e4'

.icon-celcius
  &:before
    content '\e8e5'

.icon-fahrenheit
  &:before
    content '\e8e6'

.icon-clouds-flash-alt
  &:before
    content '\e8e7'

.icon-sun-inv
  &:before
    content '\e8e8'

.icon-moon-inv
  &:before
    content '\e8e9'

.icon-cloud-sun-inv
  &:before
    content '\e8ea'

.icon-cloud-moon-inv
  &:before
    content '\e8eb'

.icon-cloud-inv
  &:before
    content '\e8ec'

.icon-cloud-flash-inv
  &:before
    content '\e8ed'

.icon-drizzle-inv
  &:before
    content '\e8ee'

.icon-rain-inv
  &:before
    content '\e8ef'

.icon-windy
  &:before
    content '\e8f0'

.icon-rain
  &:before
    content '\e8f1'

.icon-drizzle
  &:before
    content '\e8f2'

.icon-cloud-flash-alt
  &:before
    content '\e8f3'

.icon-cloud-flash
  &:before
    content '\e8f4'

.icon-cloud-2
  &:before
    content '\e8f5'

.icon-fog
  &:before
    content '\e8f6'

.icon-fog-cloud
  &:before
    content '\e8f7'

.icon-fog-sun
  &:before
    content '\e8f8'

.icon-cloud-moon
  &:before
    content '\e8f9'

.icon-cloud-sun
  &:before
    content '\e8fa'

.icon-snowflake
  &:before
    content '\e8fb'

.icon-wind
  &:before
    content '\e8fc'

.icon-mist
  &:before
    content '\e8fd'

.icon-eclipse
  &:before
    content '\e8fe'

.icon-moon-1
  &:before
    content '\e8ff'

.icon-sun-1
  &:before
    content '\e900'

.icon-sunrise
  &:before
    content '\e901'

.icon-windy-inv
  &:before
    content '\e902'

.icon-windy-rain
  &:before
    content '\e903'

.icon-snow
  &:before
    content '\e904'

.icon-snow-alt
  &:before
    content '\e905'

.icon-snow-heavy
  &:before
    content '\e906'

.icon-hail
  &:before
    content '\e907'

.icon-clouds
  &:before
    content '\e908'

.icon-clouds-flash
  &:before
    content '\e909'

.icon-aboveground-rail
  &:before
    content '\e90a'

.icon-airfield
  &:before
    content '\e90b'

.icon-airport
  &:before
    content '\e90c'

.icon-art-gallery
  &:before
    content '\e90d'

.icon-bar
  &:before
    content '\e90e'

.icon-baseball
  &:before
    content '\e90f'

.icon-basketball
  &:before
    content '\e910'

.icon-beer-1
  &:before
    content '\e911'

.icon-belowground-rail
  &:before
    content '\e912'

.icon-bicycle-1
  &:before
    content '\e913'

.icon-bus-1
  &:before
    content '\e914'

.icon-cafe
  &:before
    content '\e915'

.icon-campsite
  &:before
    content '\e916'

.icon-cemetery
  &:before
    content '\e917'

.icon-cinema
  &:before
    content '\e918'

.icon-college
  &:before
    content '\e919'

.icon-commerical-building
  &:before
    content '\e91a'

.icon-credit-card-1
  &:before
    content '\e91b'

.icon-cricket
  &:before
    content '\e91c'

.icon-embassy
  &:before
    content '\e91d'

.icon-pharmacy
  &:before
    content '\e91e'

.icon-museum
  &:before
    content '\e91f'

.icon-monument
  &:before
    content '\e920'

.icon-london-underground
  &:before
    content '\e921'

.icon-lodging
  &:before
    content '\e922'

.icon-library
  &:before
    content '\e923'

.icon-industrial-building
  &:before
    content '\e924'

.icon-harbor
  &:before
    content '\e925'

.icon-heliport
  &:before
    content '\e926'

.icon-fast-food
  &:before
    content '\e927'

.icon-ferry
  &:before
    content '\e928'

.icon-fire-station
  &:before
    content '\e929'

.icon-football
  &:before
    content '\e92a'

.icon-fuel
  &:before
    content '\e92b'

.icon-garden
  &:before
    content '\e92c'

.icon-giraffe
  &:before
    content '\e92d'

.icon-golf
  &:before
    content '\e92e'

.icon-minefield
  &:before
    content '\e92f'

.icon-pitch
  &:before
    content '\e930'

.icon-police
  &:before
    content '\e931'

.icon-post
  &:before
    content '\e932'

.icon-prison
  &:before
    content '\e933'

.icon-rail
  &:before
    content '\e934'

.icon-religious-christian
  &:before
    content '\e935'

.icon-religious-islam
  &:before
    content '\e936'

.icon-religious-jewish
  &:before
    content '\e937'

.icon-restaurant
  &:before
    content '\e938'

.icon-roadblock
  &:before
    content '\e939'

.icon-school
  &:before
    content '\e93a'

.icon-shop
  &:before
    content '\e93b'

.icon-skiing
  &:before
    content '\e93c'

.icon-soccer
  &:before
    content '\e93d'

.icon-swimming
  &:before
    content '\e93e'

.icon-tennis
  &:before
    content '\e93f'

.icon-theatre
  &:before
    content '\e940'

.icon-toilet
  &:before
    content '\e941'

.icon-town-hall
  &:before
    content '\e942'

.icon-trash-2
  &:before
    content '\e943'

.icon-tree-1
  &:before
    content '\e944'

.icon-tree-2
  &:before
    content '\e945'

.icon-warehouse
  &:before
    content '\e946'

.icon-grocery-store
  &:before
    content '\e947'

.icon-duckduckgo
  &:before
    content '\e948'

.icon-aim
  &:before
    content '\e949'

.icon-delicious-1
  &:before
    content '\e94a'

.icon-drupal-1
  &:before
    content '\e94b'

.icon-paypal-1
  &:before
    content '\e94c'

.icon-flattr
  &:before
    content '\e94d'

.icon-android-1
  &:before
    content '\e94e'

.icon-eventful
  &:before
    content '\e94f'

.icon-gplus-1
  &:before
    content '\e950'

.icon-smashmag
  &:before
    content '\e951'

.icon-wikipedia
  &:before
    content '\e952'

.icon-lanyrd
  &:before
    content '\e953'

.icon-calendar-1
  &:before
    content '\e954'

.icon-stumbleupon-1
  &:before
    content '\e955'

.icon-fivehundredpx
  &:before
    content '\e956'

.icon-pinterest-1
  &:before
    content '\e957'

.icon-bitcoin-1
  &:before
    content '\e958'

.icon-w3c
  &:before
    content '\e959'

.icon-foursquare-1
  &:before
    content '\e95a'

.icon-html5-1
  &:before
    content '\e95b'

.icon-ie
  &:before
    content '\e95c'

.icon-klout
  &:before
    content '\e95d'

.icon-weibo-1
  &:before
    content '\e95e'

.icon-instapaper
  &:before
    content '\e95f'

.icon-viadeo
  &:before
    content '\e960'

.icon-google-1
  &:before
    content '\e961'

.icon-flickr-1
  &:before
    content '\e962'

.icon-evernote
  &:before
    content '\e963'

.icon-dribbble-1
  &:before
    content '\e964'

.icon-cc-1
  &:before
    content '\e965'

.icon-blogger
  &:before
    content '\e966'

.icon-appstore
  &:before
    content '\e967'

.icon-gowalla
  &:before
    content '\e968'

.icon-guest
  &:before
    content '\e969'

.icon-reddit-1
  &:before
    content '\e96a'

.icon-spotify-1
  &:before
    content '\e96b'

.icon-digg-1
  &:before
    content '\e96c'

.icon-forrst
  &:before
    content '\e96d'

.icon-ninetyninedesigns
  &:before
    content '\e96e'

.icon-grooveshark
  &:before
    content '\e96f'

.icon-call
  &:before
    content '\e970'

.icon-linkedin-1
  &:before
    content '\e971'

.icon-meetup
  &:before
    content '\e972'

.icon-vk
  &:before
    content '\e973'

.icon-plancast
  &:before
    content '\e974'

.icon-disqus
  &:before
    content '\e975'

.icon-rss-1
  &:before
    content '\e976'

.icon-skype-1
  &:before
    content '\e977'

.icon-twitter-1
  &:before
    content '\e978'

.icon-youtube-1
  &:before
    content '\e979'

.icon-vimeo
  &:before
    content '\e97a'

.icon-windows-1
  &:before
    content '\e97b'

.icon-xing-1
  &:before
    content '\e97c'

.icon-yahoo-1
  &:before
    content '\e97d'

.icon-chrome
  &:before
    content '\e97e'

.icon-email
  &:before
    content '\e97f'

.icon-macstore
  &:before
    content '\e980'

.icon-myspace
  &:before
    content '\e981'

.icon-podcast
  &:before
    content '\e982'

.icon-amazon
  &:before
    content '\e983'

.icon-steam-1
  &:before
    content '\e984'

.icon-yelp-1
  &:before
    content '\e985'

.icon-wordpress-1
  &:before
    content '\e986'

.icon-eventasaurus
  &:before
    content '\e987'

.icon-tumblr-1
  &:before
    content '\e988'

.icon-soundcloud-1
  &:before
    content '\e989'

.icon-quora
  &:before
    content '\e98a'

.icon-openid-1
  &:before
    content '\e98b'

.icon-pinboard
  &:before
    content '\e98c'

.icon-lastfm-1
  &:before
    content '\e98d'

.icon-gmail
  &:before
    content '\e98e'

.icon-songkick
  &:before
    content '\e98f'

.icon-plurk
  &:before
    content '\e990'

.icon-itunes
  &:before
    content '\e991'

.icon-googleplay
  &:before
    content '\e992'

.icon-github-circled-1
  &:before
    content '\e993'

.icon-github-1
  &:before
    content '\e994'

.icon-facebook-1
  &:before
    content '\e995'

.icon-ebay
  &:before
    content '\e996'

.icon-dropbox-1
  &:before
    content '\e997'

.icon-cloudapp
  &:before
    content '\e998'

.icon-intensedebate
  &:before
    content '\e999'

.icon-eventbrite
  &:before
    content '\e99a'

.icon-scribd
  &:before
    content '\e99b'

.icon-posterous
  &:before
    content '\e99c'

.icon-stripe
  &:before
    content '\e99d'

.icon-opentable
  &:before
    content '\e99e'

.icon-cart
  &:before
    content '\e99f'

.icon-print-1
  &:before
    content '\e9a0'

.icon-angellist-1
  &:before
    content '\e9a1'

.icon-instagram-1
  &:before
    content '\e9a2'

.icon-dwolla
  &:before
    content '\e9a3'

.icon-appnet
  &:before
    content '\e9a4'

.icon-statusnet
  &:before
    content '\e9a5'

.icon-acrobat
  &:before
    content '\e9a6'

.icon-buffer
  &:before
    content '\e9a7'

.icon-pocket
  &:before
    content '\e9a8'

.icon-bitbucket-1
  &:before
    content '\e9a9'

.icon-lego
  &:before
    content '\e9aa'

.icon-login-1
  &:before
    content '\e9ab'

.icon-lkdto
  &:before
    content '\e9ac'

.icon-hackernews
  &:before
    content '\e9ad'

.icon-stackoverflow-1
  &:before
    content '\e9ae'

.icon-facebook-2
  &:before
    content '\e9af'

.icon-github-2
  &:before
    content '\e9b0'

.icon-odnoklassniki
  &:before
    content '\e9b1'

.icon-ascent-alerta
  &:before
    content '\e9b2'

.icon-ascent-amigos
  &:before
    content '\e9b3'

.icon-ascent-atras
  &:before
    content '\e9b4'

.icon-ascent-borrar
  &:before
    content '\e9b5'

.icon-ascent-cerrar
  &:before
    content '\e9b6'

.icon-ascent-chat
  &:before
    content '\e9b7'

.icon-ascent-comentario
  &:before
    content '\e9b8'

.icon-ascent-comunidad
  &:before
    content '\e9b9'

.icon-ascent-cursos
  &:before
    content '\e9ba'

.icon-ascent-editar
  &:before
    content '\e9bb'

.icon-ascent-enviar
  &:before
    content '\e9bc'

.icon-ascent-escribir-nota
  &:before
    content '\e9bd'

.icon-ascent-estrella-seleccionada
  &:before
    content '\e9be'

.icon-ascent-estrella-inactivo
  &:before
    content '\e9bf'

.icon-ascent-informacion
  &:before
    content '\e9c0'

.icon-ascent-mas
  &:before
    content '\e9c1'

.icon-ascent-me-gusta-activo
  &:before
    content '\e9c2'

.icon-ascent-me-gusta-inactivo
  &:before
    content '\e9c3'

.icon-ascent-menu
  &:before
    content '\e9c4'

.icon-ascent-muro
  &:before
    content '\e9c5'

.icon-ascent-perfil
  &:before
    content '\e9c6'

.icon-ascent-play-activo
  &:before
    content '\e9c7'

.icon-ascent-repetir
  &:before
    content '\e9c8'

.icon-ascent-back
  &:before
    content '\e9c9'

.icon-ascent-pause
  &:before
    content '\e9ca'

.icon-ascent-next
  &:before
    content '\e9cb'

.icon-ascent-playlist
  &:before
    content '\e9cc'

.icon-ascent-play
  &:before
    content '\e9cd'

.icon-ascent-resaltado
  &:before
    content '\e9ce'

.icon-ascent-correcto
  &:before
    content '\e9cf'

.icon-ascent-incorrecta
  &:before
    content '\e9d0'

.icon-ascent-notificacion
  &:before
    content '\e9d1'

.icon-cog-1
  &:before
    content '\e9d2'

.icon-params
  &:before
    content '\e9d3'

.icon-calendar-2
  &:before
    content '\e9d4'

.icon-user-1
  &:before
    content '\e9d5'

.icon-eye-1
  &:before
    content '\e9d6'

.icon-pencil-1
  &:before
    content '\e9d7'

.icon-comment-1
  &:before
    content '\e9d8'

.icon-megaphone-1
  &:before
    content '\e9d9'

.icon-cup
  &:before
    content '\e9da'

.icon-globe-1
  &:before
    content '\e9db'

.icon-inbox-1
  &:before
    content '\e9dc'

.icon-cd
  &:before
    content '\e9dd'

.icon-fire-1
  &:before
    content '\e9de'

.icon-key-1
  &:before
    content '\e9df'

.icon-tv
  &:before
    content '\e9e0'

.icon-diamond-1
  &:before
    content '\e9e1'

.icon-shop-1
  &:before
    content '\e9e2'

.icon-food-1
  &:before
    content '\e9e3'

.icon-money-1
  &:before
    content '\e9e4'

.icon-truck-1
  &:before
    content '\e9e5'

.icon-beaker-1
  &:before
    content '\e9e6'

.icon-wallet
  &:before
    content '\e9e7'

.icon-move
  &:before
    content '\f047'

.icon-link-ext
  &:before
    content '\f08e'

.icon-check-empty
  &:before
    content '\f096'

.icon-bookmark-empty
  &:before
    content '\f097'

.icon-phone-squared
  &:before
    content '\f098'

.icon-twitter
  &:before
    content '\f099'

.icon-facebook
  &:before
    content '\f09a'

.icon-github-circled
  &:before
    content '\f09b'

.icon-rss
  &:before
    content '\f09e'

.icon-hdd
  &:before
    content '\f0a0'

.icon-certificate
  &:before
    content '\f0a3'

.icon-left-circled
  &:before
    content '\f0a8'

.icon-right-circled
  &:before
    content '\f0a9'

.icon-up-circled
  &:before
    content '\f0aa'

.icon-down-circled
  &:before
    content '\f0ab'

.icon-tasks
  &:before
    content '\f0ae'

.icon-filter
  &:before
    content '\f0b0'

.icon-resize-full-alt
  &:before
    content '\f0b2'

.icon-beaker
  &:before
    content '\f0c3'

.icon-docs
  &:before
    content '\f0c5'

.icon-blank
  &:before
    content '\f0c8'

.icon-menu
  &:before
    content '\f0c9'

.icon-list-bullet
  &:before
    content '\f0ca'

.icon-list-numbered
  &:before
    content '\f0cb'

.icon-strike
  &:before
    content '\f0cc'

.icon-underline
  &:before
    content '\f0cd'

.icon-table
  &:before
    content '\f0ce'

.icon-magic
  &:before
    content '\f0d0'

.icon-pinterest-circled
  &:before
    content '\f0d2'

.icon-pinterest-squared
  &:before
    content '\f0d3'

.icon-gplus-squared
  &:before
    content '\f0d4'

.icon-gplus
  &:before
    content '\f0d5'

.icon-money
  &:before
    content '\f0d6'

.icon-columns
  &:before
    content '\f0db'

.icon-sort
  &:before
    content '\f0dc'

.icon-sort-down
  &:before
    content '\f0dd'

.icon-sort-up
  &:before
    content '\f0de'

.icon-mail-alt
  &:before
    content '\f0e0'

.icon-linkedin
  &:before
    content '\f0e1'

.icon-gauge
  &:before
    content '\f0e4'

.icon-comment-empty
  &:before
    content '\f0e5'

.icon-chat-empty
  &:before
    content '\f0e6'

.icon-sitemap
  &:before
    content '\f0e8'

.icon-paste
  &:before
    content '\f0ea'

.icon-lightbulb-1
  &:before
    content '\f0eb'

.icon-exchange
  &:before
    content '\f0ec'

.icon-download-cloud
  &:before
    content '\f0ed'

.icon-upload-cloud
  &:before
    content '\f0ee'

.icon-user-md
  &:before
    content '\f0f0'

.icon-stethoscope
  &:before
    content '\f0f1'

.icon-suitcase
  &:before
    content '\f0f2'

.icon-bell-alt
  &:before
    content '\f0f3'

.icon-coffee
  &:before
    content '\f0f4'

.icon-food
  &:before
    content '\f0f5'

.icon-doc-text
  &:before
    content '\f0f6'

.icon-building
  &:before
    content '\f0f7'

.icon-hospital
  &:before
    content '\f0f8'

.icon-ambulance
  &:before
    content '\f0f9'

.icon-medkit
  &:before
    content '\f0fa'

.icon-fighter-jet
  &:before
    content '\f0fb'

.icon-beer
  &:before
    content '\f0fc'

.icon-h-sigh
  &:before
    content '\f0fd'

.icon-plus-squared
  &:before
    content '\f0fe'

.icon-angle-double-left
  &:before
    content '\f100'

.icon-angle-double-right
  &:before
    content '\f101'

.icon-angle-double-up
  &:before
    content '\f102'

.icon-angle-double-down
  &:before
    content '\f103'

.icon-angle-left
  &:before
    content '\f104'

.icon-angle-right
  &:before
    content '\f105'

.icon-angle-up
  &:before
    content '\f106'

.icon-angle-down
  &:before
    content '\f107'

.icon-desktop-1
  &:before
    content '\f108'

.icon-laptop
  &:before
    content '\f109'

.icon-tablet
  &:before
    content '\f10a'

.icon-mobile-1
  &:before
    content '\f10b'

.icon-circle-empty
  &:before
    content '\f10c'

.icon-quote-left
  &:before
    content '\f10d'

.icon-quote-right
  &:before
    content '\f10e'

.icon-spinner
  &:before
    content '\f110'

.icon-circle
  &:before
    content '\f111'

.icon-reply
  &:before
    content '\f112'

.icon-github
  &:before
    content '\f113'

.icon-folder-empty
  &:before
    content '\f114'

.icon-folder-open-empty
  &:before
    content '\f115'

.icon-smile
  &:before
    content '\f118'

.icon-frown
  &:before
    content '\f119'

.icon-meh
  &:before
    content '\f11a'

.icon-gamepad
  &:before
    content '\f11b'

.icon-keyboard
  &:before
    content '\f11c'

.icon-flag-empty
  &:before
    content '\f11d'

.icon-flag-checkered
  &:before
    content '\f11e'

.icon-terminal
  &:before
    content '\f120'

.icon-code
  &:before
    content '\f121'

.icon-reply-all
  &:before
    content '\f122'

.icon-star-half-alt
  &:before
    content '\f123'

.icon-direction
  &:before
    content '\f124'

.icon-crop
  &:before
    content '\f125'

.icon-fork
  &:before
    content '\f126'

.icon-unlink
  &:before
    content '\f127'

.icon-help
  &:before
    content '\f128'

.icon-info
  &:before
    content '\f129'

.icon-attention-alt
  &:before
    content '\f12a'

.icon-superscript
  &:before
    content '\f12b'

.icon-subscript
  &:before
    content '\f12c'

.icon-eraser
  &:before
    content '\f12d'

.icon-puzzle
  &:before
    content '\f12e'

.icon-mic
  &:before
    content '\f130'

.icon-mute
  &:before
    content '\f131'

.icon-shield
  &:before
    content '\f132'

.icon-calendar-empty
  &:before
    content '\f133'

.icon-extinguisher
  &:before
    content '\f134'

.icon-rocket
  &:before
    content '\f135'

.icon-maxcdn
  &:before
    content '\f136'

.icon-angle-circled-left
  &:before
    content '\f137'

.icon-angle-circled-right
  &:before
    content '\f138'

.icon-angle-circled-up
  &:before
    content '\f139'

.icon-angle-circled-down
  &:before
    content '\f13a'

.icon-html5
  &:before
    content '\f13b'

.icon-css3
  &:before
    content '\f13c'

.icon-anchor
  &:before
    content '\f13d'

.icon-lock-open-alt
  &:before
    content '\f13e'

.icon-bullseye
  &:before
    content '\f140'

.icon-ellipsis
  &:before
    content '\f141'

.icon-ellipsis-vert
  &:before
    content '\f142'

.icon-rss-squared
  &:before
    content '\f143'

.icon-play-circled
  &:before
    content '\f144'

.icon-ticket
  &:before
    content '\f145'

.icon-minus-squared
  &:before
    content '\f146'

.icon-minus-squared-alt
  &:before
    content '\f147'

.icon-level-up
  &:before
    content '\f148'

.icon-level-down
  &:before
    content '\f149'

.icon-ok-squared
  &:before
    content '\f14a'

.icon-pencil-squared
  &:before
    content '\f14b'

.icon-link-ext-alt
  &:before
    content '\f14c'

.icon-export-alt
  &:before
    content '\f14d'

.icon-compass
  &:before
    content '\f14e'

.icon-expand
  &:before
    content '\f150'

.icon-collapse
  &:before
    content '\f151'

.icon-expand-right
  &:before
    content '\f152'

.icon-euro
  &:before
    content '\f153'

.icon-pound
  &:before
    content '\f154'

.icon-dollar
  &:before
    content '\f155'

.icon-rupee
  &:before
    content '\f156'

.icon-yen
  &:before
    content '\f157'

.icon-rouble
  &:before
    content '\f158'

.icon-won
  &:before
    content '\f159'

.icon-bitcoin
  &:before
    content '\f15a'

.icon-doc-inv
  &:before
    content '\f15b'

.icon-doc-text-inv
  &:before
    content '\f15c'

.icon-sort-name-up
  &:before
    content '\f15d'

.icon-sort-name-down
  &:before
    content '\f15e'

.icon-sort-alt-up
  &:before
    content '\f160'

.icon-sort-alt-down
  &:before
    content '\f161'

.icon-sort-number-up
  &:before
    content '\f162'

.icon-sort-number-down
  &:before
    content '\f163'

.icon-thumbs-up-alt
  &:before
    content '\f164'

.icon-thumbs-down-alt
  &:before
    content '\f165'

.icon-youtube-squared
  &:before
    content '\f166'

.icon-youtube
  &:before
    content '\f167'

.icon-xing
  &:before
    content '\f168'

.icon-xing-squared
  &:before
    content '\f169'

.icon-youtube-play
  &:before
    content '\f16a'

.icon-dropbox
  &:before
    content '\f16b'

.icon-stackoverflow
  &:before
    content '\f16c'

.icon-instagram
  &:before
    content '\f16d'

.icon-flickr
  &:before
    content '\f16e'

.icon-adn
  &:before
    content '\f170'

.icon-bitbucket
  &:before
    content '\f171'

.icon-bitbucket-squared
  &:before
    content '\f172'

.icon-tumblr
  &:before
    content '\f173'

.icon-tumblr-squared
  &:before
    content '\f174'

.icon-down
  &:before
    content '\f175'

.icon-up
  &:before
    content '\f176'

.icon-left
  &:before
    content '\f177'

.icon-right
  &:before
    content '\f178'

.icon-apple
  &:before
    content '\f179'

.icon-windows
  &:before
    content '\f17a'

.icon-android
  &:before
    content '\f17b'

.icon-linux
  &:before
    content '\f17c'

.icon-dribbble
  &:before
    content '\f17d'

.icon-skype
  &:before
    content '\f17e'

.icon-foursquare
  &:before
    content '\f180'

.icon-trello
  &:before
    content '\f181'

.icon-female
  &:before
    content '\f182'

.icon-male
  &:before
    content '\f183'

.icon-gittip
  &:before
    content '\f184'

.icon-sun
  &:before
    content '\f185'

.icon-moon
  &:before
    content '\f186'

.icon-box
  &:before
    content '\f187'

.icon-bug
  &:before
    content '\f188'

.icon-vkontakte
  &:before
    content '\f189'

.icon-weibo
  &:before
    content '\f18a'

.icon-renren
  &:before
    content '\f18b'

.icon-pagelines
  &:before
    content '\f18c'

.icon-stackexchange
  &:before
    content '\f18d'

.icon-right-circled2
  &:before
    content '\f18e'

.icon-left-circled2
  &:before
    content '\f190'

.icon-collapse-left
  &:before
    content '\f191'

.icon-dot-circled
  &:before
    content '\f192'

.icon-wheelchair
  &:before
    content '\f193'

.icon-vimeo-squared
  &:before
    content '\f194'

.icon-try
  &:before
    content '\f195'

.icon-plus-squared-alt
  &:before
    content '\f196'

.icon-space-shuttle
  &:before
    content '\f197'

.icon-slack
  &:before
    content '\f198'

.icon-mail-squared
  &:before
    content '\f199'

.icon-wordpress
  &:before
    content '\f19a'

.icon-openid
  &:before
    content '\f19b'

.icon-bank
  &:before
    content '\f19c'

.icon-graduation-cap-1
  &:before
    content '\f19d'

.icon-yahoo
  &:before
    content '\f19e'

.icon-google
  &:before
    content '\f1a0'

.icon-reddit
  &:before
    content '\f1a1'

.icon-reddit-squared
  &:before
    content '\f1a2'

.icon-stumbleupon-circled
  &:before
    content '\f1a3'

.icon-stumbleupon
  &:before
    content '\f1a4'

.icon-delicious
  &:before
    content '\f1a5'

.icon-digg
  &:before
    content '\f1a6'

.icon-pied-piper-squared
  &:before
    content '\f1a7'

.icon-pied-piper-alt
  &:before
    content '\f1a8'

.icon-drupal
  &:before
    content '\f1a9'

.icon-joomla
  &:before
    content '\f1aa'

.icon-language
  &:before
    content '\f1ab'

.icon-fax
  &:before
    content '\f1ac'

.icon-building-filled
  &:before
    content '\f1ad'

.icon-child
  &:before
    content '\f1ae'

.icon-paw
  &:before
    content '\f1b0'

.icon-spoon
  &:before
    content '\f1b1'

.icon-cube
  &:before
    content '\f1b2'

.icon-cubes
  &:before
    content '\f1b3'

.icon-behance
  &:before
    content '\f1b4'

.icon-behance-squared
  &:before
    content '\f1b5'

.icon-steam
  &:before
    content '\f1b6'

.icon-steam-squared
  &:before
    content '\f1b7'

.icon-recycle
  &:before
    content '\f1b8'

.icon-cab
  &:before
    content '\f1b9'

.icon-taxi
  &:before
    content '\f1ba'

.icon-tree
  &:before
    content '\f1bb'

.icon-spotify
  &:before
    content '\f1bc'

.icon-deviantart
  &:before
    content '\f1bd'

.icon-soundcloud
  &:before
    content '\f1be'

.icon-database-1
  &:before
    content '\f1c0'

.icon-file-pdf
  &:before
    content '\f1c1'

.icon-file-word
  &:before
    content '\f1c2'

.icon-file-excel
  &:before
    content '\f1c3'

.icon-file-powerpoint
  &:before
    content '\f1c4'

.icon-file-image
  &:before
    content '\f1c5'

.icon-file-archive
  &:before
    content '\f1c6'

.icon-file-audio
  &:before
    content '\f1c7'

.icon-file-video
  &:before
    content '\f1c8'

.icon-file-code
  &:before
    content '\f1c9'

.icon-vine
  &:before
    content '\f1ca'

.icon-codeopen
  &:before
    content '\f1cb'

.icon-jsfiddle
  &:before
    content '\f1cc'

.icon-lifebuoy
  &:before
    content '\f1cd'

.icon-circle-notch
  &:before
    content '\f1ce'

.icon-rebel
  &:before
    content '\f1d0'

.icon-empire
  &:before
    content '\f1d1'

.icon-git-squared
  &:before
    content '\f1d2'

.icon-git
  &:before
    content '\f1d3'

.icon-hacker-news
  &:before
    content '\f1d4'

.icon-tencent-weibo
  &:before
    content '\f1d5'

.icon-qq
  &:before
    content '\f1d6'

.icon-wechat
  &:before
    content '\f1d7'

.icon-paper-plane-1
  &:before
    content '\f1d8'

.icon-paper-plane-empty
  &:before
    content '\f1d9'

.icon-history
  &:before
    content '\f1da'

.icon-circle-thin
  &:before
    content '\f1db'

.icon-header
  &:before
    content '\f1dc'

.icon-paragraph
  &:before
    content '\f1dd'

.icon-sliders
  &:before
    content '\f1de'

.icon-share
  &:before
    content '\f1e0'

.icon-share-squared
  &:before
    content '\f1e1'

.icon-bomb
  &:before
    content '\f1e2'

.icon-soccer-ball
  &:before
    content '\f1e3'

.icon-tty
  &:before
    content '\f1e4'

.icon-binoculars
  &:before
    content '\f1e5'

.icon-plug
  &:before
    content '\f1e6'

.icon-slideshare
  &:before
    content '\f1e7'

.icon-twitch
  &:before
    content '\f1e8'

.icon-yelp
  &:before
    content '\f1e9'

.icon-newspaper
  &:before
    content '\f1ea'

.icon-wifi
  &:before
    content '\f1eb'

.icon-calc
  &:before
    content '\f1ec'

.icon-paypal
  &:before
    content '\f1ed'

.icon-gwallet
  &:before
    content '\f1ee'

.icon-cc-visa
  &:before
    content '\f1f0'

.icon-cc-mastercard
  &:before
    content '\f1f1'

.icon-cc-discover
  &:before
    content '\f1f2'

.icon-cc-amex
  &:before
    content '\f1f3'

.icon-cc-paypal
  &:before
    content '\f1f4'

.icon-cc-stripe
  &:before
    content '\f1f5'

.icon-bell-off
  &:before
    content '\f1f6'

.icon-bell-off-empty
  &:before
    content '\f1f7'

.icon-trash-1
  &:before
    content '\f1f8'

.icon-copyright
  &:before
    content '\f1f9'

.icon-at
  &:before
    content '\f1fa'

.icon-eyedropper
  &:before
    content '\f1fb'

.icon-brush
  &:before
    content '\f1fc'

.icon-birthday
  &:before
    content '\f1fd'

.icon-chart-area
  &:before
    content '\f1fe'

.icon-chart-pie
  &:before
    content '\f200'

.icon-chart-line
  &:before
    content '\f201'

.icon-lastfm
  &:before
    content '\f202'

.icon-lastfm-squared
  &:before
    content '\f203'

.icon-toggle-off
  &:before
    content '\f204'

.icon-toggle-on
  &:before
    content '\f205'

.icon-bicycle
  &:before
    content '\f206'

.icon-bus
  &:before
    content '\f207'

.icon-ioxhost
  &:before
    content '\f208'

.icon-angellist
  &:before
    content '\f209'

.icon-cc
  &:before
    content '\f20a'

.icon-shekel
  &:before
    content '\f20b'

.icon-meanpath
  &:before
    content '\f20c'

.icon-buysellads
  &:before
    content '\f20d'

.icon-connectdevelop
  &:before
    content '\f20e'

.icon-dashcube
  &:before
    content '\f210'

.icon-forumbee
  &:before
    content '\f211'

.icon-leanpub
  &:before
    content '\f212'

.icon-sellsy
  &:before
    content '\f213'

.icon-shirtsinbulk
  &:before
    content '\f214'

.icon-simplybuilt
  &:before
    content '\f215'

.icon-skyatlas
  &:before
    content '\f216'

.icon-cart-plus
  &:before
    content '\f217'

.icon-cart-arrow-down
  &:before
    content '\f218'

.icon-diamond
  &:before
    content '\f219'

.icon-ship
  &:before
    content '\f21a'

.icon-user-secret
  &:before
    content '\f21b'

.icon-motorcycle
  &:before
    content '\f21c'

.icon-street-view
  &:before
    content '\f21d'

.icon-heartbeat
  &:before
    content '\f21e'

.icon-venus
  &:before
    content '\f221'

.icon-mars
  &:before
    content '\f222'

.icon-mercury
  &:before
    content '\f223'

.icon-transgender
  &:before
    content '\f224'

.icon-transgender-alt
  &:before
    content '\f225'

.icon-venus-double
  &:before
    content '\f226'

.icon-mars-double
  &:before
    content '\f227'

.icon-venus-mars
  &:before
    content '\f228'

.icon-mars-stroke
  &:before
    content '\f229'

.icon-mars-stroke-v
  &:before
    content '\f22a'

.icon-mars-stroke-h
  &:before
    content '\f22b'

.icon-neuter
  &:before
    content '\f22c'

.icon-facebook-official
  &:before
    content '\f230'

.icon-pinterest
  &:before
    content '\f231'

.icon-whatsapp
  &:before
    content '\f232'

.icon-server
  &:before
    content '\f233'

.icon-user-plus
  &:before
    content '\f234'

.icon-user-times
  &:before
    content '\f235'

.icon-bed
  &:before
    content '\f236'

.icon-viacoin
  &:before
    content '\f237'

.icon-train
  &:before
    content '\f238'

.icon-subway
  &:before
    content '\f239'

.icon-medium
  &:before
    content '\f23a'

.icon-github-squared
  &:before
    content '\f300'

.icon-facebook-rect
  &:before
    content '\f301'

.icon-twitter-2
  &:before
    content '\f302'

.icon-twitter-bird
  &:before
    content '\f303'

.icon-twitter-squared
  &:before
    content '\f304'

.icon-yandex
  &:before
    content '\f305'

.icon-yandex-rect
  &:before
    content '\f306'

.icon-github-text
  &:before
    content '\f307'

.icon-facebook-squared
  &:before
    content '\f308'

.icon-googleplus-rect
  &:before
    content '\f309'

.icon-vkontakte-rect
  &:before
    content '\f30a'

.icon-skype-2
  &:before
    content '\f30b'

.icon-linkedin-squared
  &:before
    content '\f30c'

.icon-odnoklassniki-rect
  &:before
    content '\f30d'

.icon-vimeo-rect
  &:before
    content '\f30e'

.icon-vimeo-1
  &:before
    content '\f30f'

.icon-tumblr-rect
  &:before
    content '\f310'

.icon-tumblr-2
  &:before
    content '\f311'

.icon-friendfeed
  &:before
    content '\f312'

.icon-friendfeed-rect
  &:before
    content '\f313'

.icon-blogger-1
  &:before
    content '\f314'

.icon-blogger-rect
  &:before
    content '\f315'

.icon-deviantart-1
  &:before
    content '\f316'

.icon-jabber
  &:before
    content '\f317'

.icon-lastfm-2
  &:before
    content '\f318'

.icon-lastfm-rect
  &:before
    content '\f319'

.icon-linkedin-2
  &:before
    content '\f31a'

.icon-linkedin-rect
  &:before
    content '\f31b'

.icon-picasa
  &:before
    content '\f31c'

.icon-wordpress-2
  &:before
    content '\f31d'

.icon-instagram-2
  &:before
    content '\f31e'

.icon-instagram-filled
  &:before
    content '\f31f'

.icon-diigo
  &:before
    content '\f320'

.icon-box-1
  &:before
    content '\f321'

.icon-box-rect
  &:before
    content '\f322'

.icon-tudou
  &:before
    content '\f323'

.icon-youku
  &:before
    content '\f324'

.icon-win8
  &:before
    content '\f325'

.icon-amex
  &:before
    content '\f326'

.icon-visa
  &:before
    content '\f328'

.icon-mastercard
  &:before
    content '\f329'

.icon-houzz
  &:before
    content '\f32a'

.icon-bandcamp
  &:before
    content '\f32b'

.icon-codepen
  &:before
    content '\f32c'