<header class="PlataformHeader">
	<div ng-include=" './templates/plataforma/menu.html' "></div>
	<div class="PlataformSubHeader">
		<nav class="PlataformSubHeader__box">
			<ul  class="PlataformSubHeader__box--list">
				<li class="links"><a href="#/plataforma/cursos/" class="links__tab">TODOS</a></li>
				<li class="links"><a class="links__tab Active">MIS CURSOS</a></li>
				<li class="links"><a class="links__tab" href="#/plataforma/cursos/completados">COMPLETADOS</a></li>
			</ul>
		</nav>
	</div>
</header>
<div class="container">
	<div class="ContentPlataform">
		<div class="ContentPlataform__box" ng-if="user.access === 'premium'">
			<article ng-repeat="course in inProgress"  class="ContentPlataform__box--course">
				<div class="Course" ng-cloak>
					<div class="Course__cover" style="background-color:{{course.colour}}">	
						<figure>
							<img src="{{course.icon.path}}" width="100"/>
						</figure>
					</div>
					<div class="Course__content">
						<div class="Course__content--title">
							<h3><a href="#/plataforma/cursos/detail/{{course._id}}">{{course.title}}</a></h3>
						</div>
						<div class="Course__content--text">
						  <p>{{course.description}}</p>
						</div>
						<div class="Course__content--link">
							<div>
								<a href="#/plataforma/cursos/detail/{{course._id}}">Ingresar</a>
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>
		<div class="ContentPlataform__box" ng-if="user.access === 'free'">
			<h3>No eres usuario premiun</h3>
		</div>
	</div>
</div>